.canvas{
    width: 320px;
    height: 260px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
    
.controls{
        margin-top: 2rem;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
.controlsBtns button{
        all: unset;
        cursor: pointer;
        background-color: white;
        padding: 5px 0px;
        width: 80px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        border:  2px solid rgba(0,0,0,0.2);
        color: rgba(0,0,0,0.7);
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
    }
    
    .controlsBtns button:active{
        transform: scale(0.98);
    }
    
    .controls .controlsColors{
        display: flex;
        width: 100%;
        height: 5em;
        align-items: center;
        justify-content: center;
    }
    
    .controlsColors .controlsColor{
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }
